# Project Configuration Files
*.sublime-workspace

# Base Box Files
**.box
**/.vagrant
workbox/vagrant_config.yml
workbox/config/*
!workbox/config/cleanDevEnvironment.bs
!workbox/config/minion

# Sensitive Information
salt/_pillars/*
!salt/_pillars/top.sls
!salt/_pillars/templates