remmina:
  Username:
    Connection Identifier:
      group: Group/Subgroup
      password: Hashed Password
      username: ...
      sharefolder: ...
      domain: ...
      server: ...
      colordepth: 15