git:
  repository-url:
    target: ...
    username: ...
    email: ...
    rev: ...
    identity: ... (not currently used)

hg:
  repository-url:
    target: ...
    username: ...
    email: ...
    rev: ...
    identity: ... (not currently used)

svn:
  repository-url:
    target: ...
    username: ...
    email: ...
    rev: ...
    identity: ... (not currently used)