users:
  username:
    fullname: ...
    password : hashed_password (see README)
    home: ...
    groups:
      - username
      ...
    # Optional
    fstab_creds:
      cred_file_location:
        username: ...
        password: ...
        domain: ...